@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: hsl(212, 45%, 89%);
    font-family: "Outfit", sans-serif;
  }

.container {
    background-color: white;
    border-radius: 10px;
    width: 320px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .container__qr-code {
    border-radius: 10px;
    width: 288px;
    height: 288px;
  }
  
  p {
    margin: 5px 0;
    font-size: 15px;
  }

.focus-text {
color: hsl(218, 44%, 22%);
font-weight: 700;
font-size: 1.5rem;
}
.grey-text {
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    font-size:1.1rem;
}
  .attribution {
    font-size: 11px;
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
  }
  
  .attribution a {
    color: hsl(228, 45%, 44%);
  }

/*
## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

> 💡 These are just the design sizes. Ensure content is responsive and meets WCAG requirements by testing the full range of screen sizes from 320px to large screens.

## Colors

- White: hsl(0, 0%, 100%)
- Light gray: hsl(212, 45%, 89%)
- Grayish blue: hsl(220, 15%, 55%)
- Dark blue: hsl(218, 44%, 22%)

## Typography

### Body Copy

- Font size (paragraph): 15px

### Font

- Family: [Outfit](https://fonts.google.com/specimen/Outfit)
- Weights: 400, 700
*/